---
import DATA from './contactsData.json';
import SectionHeader from '@components/global/SectionHeader.astro';
import { ContactsForm } from './ContactsForm';
---

<div class="container section-pt-128-flex-64">
  <SectionHeader data={DATA.header} />

  <form name="contact" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="text" name="name" />
    <input type="email" name="email" />
    <input type="text" name="mobile" />
    <textarea name="message"></textarea>
  </form>

  <ContactsForm client:only="preact" />
</div>
