---
import PHOTOS_DATA from './photosData.json';
import SectionHeader from '@components/global/SectionHeader.astro';
import Img from '@components/global/Img.astro';
---

<div class='section-pt-128-flex-64'>
  <SectionHeader img={PHOTOS_DATA.img} title={PHOTOS_DATA.title} />
</div>
