---
import { SocialNav } from '@partials/SocialNav/SocialNav';

const date = new Date();
---

<footer>
  <div class="bg-white py-32">
    <div class="container">
      <SocialNav />
    </div>
  </div>

  <div class="py-16 container">
    <p class="text-16">
      &copy; Copyright {date.getFullYear()} RTD HVAC Inc. All Rights Reserved.
    </p>
  </div>
</footer>
