---
const date = new Date();
---

<div class='py-16'>
  <div class='container'>
    <p class='text-16'>
      &copy; Copyright {date.getFullYear()} RTD HVAC Inc. All Rights Reserved.
    </p>
  </div>
</div>
