---
import Img from '@components/global/Img.astro'
import { marked } from 'marked'

interface ISectionHeaderProps {
  img: string
  title: string
  paragraph?: string
  className?: string
}

const { img, title, paragraph, className = '' } = Astro.props as ISectionHeaderProps
---

<div class={`container flex flex-col gap-32 ${className}`}>
  <Img
    src={img}
    alt={title.replace("<span class='text-red-500'>", '').replace('</span>', '')}
    width={64}
    height={64}
  />
  <section class='flex flex-col gap-16'>
    <h2 class='text-32 font-inter-bold' set:html={title} />
    {paragraph && <div class='text-20 leading-loose' set:html={marked(paragraph)} />}
  </section>
</div>
