---
import DATA from './faqsData.json';
import SectionHeader from '@components/global/SectionHeader.astro';
import { FaqsTabs, type TTabKey } from './FaqsTabs/FaqsTabs';

interface Props {
  activeTabKey?: TTabKey;
}

const { activeTabKey } = Astro.props;
---

<div class="container section-pt-128">
  <SectionHeader data={DATA.header} />

  <div id="faqsTabsHeaderScrollIntoView"></div>

  <FaqsTabs tabs={DATA.tabs} activeTabKey={activeTabKey} client:load />
</div>
