---
import '@css/index.css';
import Header from '@partials/Header/Header.astro';
import PagesNav from '@partials/PagesNav/PagesNav.astro';
import Footer from '@partials/Footer/Footer.astro';

interface Props {
  title: string;
  hasPagesNav?: boolean;
}

const { title, hasPagesNav = true } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical -->
    <link rel="canonical" href="https://rtdhvac.com" />

    <!-- Seo -->
    <title>{`RTD HVAC ${title}`}</title>
    <meta
      name="keywords"
      content="HVAC Pennsylvania, RTD HVAC, HVAC installation, HVAC repair, furnace installation, heat pump design, tankless water heaters, air conditioning repair, ductless minisplit systems, humidifiers, air cleaners, electrical panel upgrades"
    />
    <meta
      name="description"
      content="RTD HVAC provides comprehensive HVAC services in Pennsylvania, including installation, repair, and maintenance of furnaces; design and installation of heat pumps; tank and tankless water heater installation; air conditioning services; ductless minisplit system design and installation; humidifiers, air cleaners, service and panel upgrades."
    />

    <!-- Og -->
    <meta property="og:title" content="RTD HVAC - Professional HVAC Services in Pennsylvania" />
    <meta
      property="og:description"
      content="RTD HVAC provides comprehensive HVAC services in Pennsylvania, including installation, repair, and maintenance of furnaces; design and installation of heat pumps; tank and tankless water heater installation; air conditioning services; ductless minisplit system design and installation; humidifiers, air cleaners, service and panel upgrades."
    />
    <meta property="og:image" content="/images/global/global_opengraph.jpg" />
    <meta property="og:url" content="https://rtdhvac.netlify.app/" />
    <meta property="og:type" content="website" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="RTD HVAC" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
  </head>
  <body class="font-inter-regular bg-body text-stone-800">
    <Header />

    <slot />

    {hasPagesNav ? <PagesNav /> : <div class="pt-128" />}

    <Footer />
  </body>
</html>
