---
import Link from './Link.astro';
import Icon from './Icon.astro';

interface ILinkSecondaryProps {
  href: string;
  label: string;
  isExternal: boolean;
}

const { href, label, isExternal = false } = Astro.props as ILinkSecondaryProps;
---

<Link
  href={href}
  isExternal={isExternal}
  className='text-16-bold py-16 px-32 max-w-max flex flex-row gap-8 items-center border-2 border-red-500 rounded-16 text-red-500 hover:text-white bg-white hover:bg-red-500'
>
  <span>{label}</span>
  <Icon icon='arrow' />
</Link>
