---
import Img from '@components/global/Img.astro';
import { marked } from 'marked';

interface Props {
  img: string;
  title: string;
  paragraph?: string;
  className?: string;
}

const { img, title, paragraph, className = '' } = Astro.props;
---

<div class={`container flex flex-col gap-32 ${className}`}>
  <Img src={img} alt={title.replaceAll('<b>', '').replaceAll('</b>', '')} width={64} height={64} />
  <section class="flex flex-col gap-16">
    {/* eslint-disable-next-line jsx-a11y/heading-has-content, astro/no-set-html-directive*/}
    <h2 class="text-32 font-inter-bold" set:html={title} />
    {/* eslint-disable-next-line astro/no-set-html-directive */}
    {paragraph && <div class="text-20 leading-loose" set:html={marked(paragraph)} />}
  </section>
</div>
